/* For styling the rendered Markdown */
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

/* Slight diffrent colors for code highlight */
.hljs {
  display: block;
  overflow-x: auto !important;
  padding: 0.5em !important;
  color: #abb2bf !important;
  background: #282c34 !important;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370 !important;
  font-style: italic !important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #cb81da !important;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75 !important;
}

.hljs-literal {
  color: #56b6c2 !important;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379 !important;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b !important;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #e06c75 !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee !important;
}

.hljs-emphasis {
  font-style: italic !important;
}

.hljs-strong {
  font-weight: bold !important;
}

.hljs-link {
  text-decoration: underline !important;
}

.hljs-params {
	color: #e06c75 !important;
}


/* Table of Content */

.table-of-contents {
	position: sticky !important;
	top: 0;
	right: 0;
}

.table-of-contents > ul {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;	
	margin: 0 !important;
	opacity: 0.8 !important;
	background-color: hsla(212, 25%, 8%, 1) !important;
}

.table-of-contents * {
	color: white !important;
	text-decoration: none !important;
	list-style: none !important;
}

.table-of-contents ul {
	margin-left: 15px !important;
	margin-top: 0 !important;
}

.table-of-contents > ul {
	margin: 0 !important;
	padding-left: 10px !important;
	border-left: 15px solid hsla(214, 22%, 50%, 0.25) !important;
	right: -210px !important;
	overflow-x: hidden !important;
	width: 200px !important;
	transition: 300ms right !important;
	border-radius: 10px 0 0 10px !important;
}

.table-of-contents > ul:hover {
	right: -10px !important;
}

.table-of-contents > ul > li {
	margin-top: 3px !important;
}

